#!/usr/bin/make -f

export PYTHON=python3

include /usr/share/cdbs/1/rules/debhelper.mk
# Including this gives us a number of rules typical to a GNOME
# program, including setting GCONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1.
# Note that this class inherits from autotools.mk and docbookxml.mk,
# so you don't need to include those too.
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/autoreconf.mk

DEB_CONFIGURE_EXTRA_FLAGS := --disable-runtime-deps-check --with-dhcp-config=/etc/dhcp/dhcpd.conf \
                             --with-systemdunitdir=/lib/systemd

common-install-arch::
	rm -f $(CURDIR)/debian/blueman/usr/share/doc/blueman/COPYING
	rm -f $(CURDIR)/debian/blueman/usr/share/doc/blueman/CHANGELOG.md

binary-install/blueman::
	dh_python3 --shebang=/usr/bin/python3

install/blueman::
	rm -f $(CURDIR)/debian/blueman/usr/lib/python*/*-packages/_blueman.la
	rm -f $(CURDIR)/debian/blueman/usr/lib/python*/*-packages/_blueman.a

